@model IEnumerable<WebApplication1.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}
</table>
@Ajax.ActionLink("Link", "verAction", new {nombre = 2 }, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.InsertBefore,
    UpdateTargetId = "res"
}) 

@using (Ajax.BeginForm("ver",new AjaxOptions() {
    HttpMethod = "POST",
    InsertionMode = InsertionMode.InsertBefore,
    Confirm = "estas seguro",
    UpdateTargetId = "res",
    OnSuccess="gracias"}))
{
    <input type="submit" value="Duplcar" />
}
<div id="res"></div>


@section scripts{
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        alert("Hola");
            function gracias(respuesta) {
                alert("GRACIAS");
            }
    </script>   
}